<!--nav-->
<nav class="navbar  bg-dark">
   <div class="container-fluid">
     <a class="navbar-brand text-white">Employee Manager</a>
     <a class="nav-item text-white btn btn-outline-success" (click)="onOpenModal(newEmployee, 'add')">Add Employee</a>

     <form class="d-flex" role="search">
       <input class="form-control me-2" type="search" placeholder="Search employee..." aria-label="Search" name="key" id="search">
       <button class="text-white btn btn-outline-success" type="submit">Search</button>
     </form>

   </div>
 </nav>
<!--/nav-->


<!-- Add Employee Modal -->
<div class="modal fade" id="addEmployeeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="addEmployeeModalLabel">Add New Employee</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>


      <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
            <div class="modal-body">
                  
                        <input type="text" ngModel name="name" class="form-control m-1" placeholder="Name"/>
                        <input type="text" ngModel name="jobTitle" class="form-control m-1" placeholder="Job Title"/>
                        <input type="text" ngModel name="email" class="form-control m-1" placeholder="Email" required email/>
                        <input type="text" ngModel name="phone" class="form-control m-1" placeholder="Phone"/>
                        <input type="text" ngModel name="imageUrl" class="form-control m-1" placeholder="Image Url"/>
                  
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
               <button  [disabled]="addForm.form.invalid"  type="submit" class="btn btn-success">Save</button>
            </div>
      </form>

     </div>
   </div>
 </div>
 <!-- /Add Employee Modal -->

 <!-- Edit Employee Modal -->
<div class="modal fade" id="editEmployeeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editEmployeeModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="editEmployeeModalLabel">Edit New Employee</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
        <input type="text" name="id" class="form-control m-1" placeholder="Id" readonly/>
        <input type="text" name="employeeCode" class="form-control m-1" placeholder="Employee Code" readonly/>
        <input type="text" name="name" class="form-control m-1" placeholder="Name"/>
        <input type="text" name="jobTitle" class="form-control m-1" placeholder="Job Title"/>
        <input type="text" name="email" class="form-control m-1" placeholder="Email"/>
        <input type="text" name="phone" class="form-control m-1" placeholder="Phone"/>
        <input type="text" name="imageUrl" class="form-control m-1" placeholder="Image Url"/>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Update</button>
       </div>
     </div>
   </div>
 </div>
 <!-- /Add Employee Modal -->


  <!-- Delete Employee Modal -->
<div class="modal fade" id="deleteEmployeeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteEmployeeModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="deleteEmployeeModalLabel">Delete New Employee</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         Are you sure you want to delete employee ?
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <button type="button" class="btn btn-danger">Delete</button>
       </div>
     </div>
   </div>
 </div>
 <!-- /Add Employee Modal -->




<!--container-->
<div class="container" id="main-container">
    <div class="row justify-content-center">


         <!--Card-->
        <div class="col-md-6 col-xl-3 m-3" *ngFor="let employee of employees">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="{{employee?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{ employee?.name }}</h5>
                        <p class="m-0">{{ employee?.jobTitle }}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i> : <a href="#">{{ employee?.email }}</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i> : {{ employee?.phone }}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit" (click)="onOpenModal(employee, 'edit')"><i class="fa fa-pencil"></i> </a>
                        <a href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete" (click)="onOpenModal(employee, 'delete')"><i class="fa fa-times"></i></a>
                    </div>
                   
                </div>
            </div>
        </div>
        <!--/card-->



       
    </div>
</div>
<!--/container-->